/* p{
    text-align: center;
} */
 p{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.71);
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 0px;
}