<form [formGroup]="login" (ngSubmit)="onLogin()" >
    <input type="text" formControlName="email"><br>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    
    
    <input type="text" formControlName="password"><br>
    <input type="submit" value="Submit">

    
    </form>

    <input type="text" [(ngModel)]="name">
    <p>{{ name }}</p>